<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<H1>En film resultat</H1>
<p>
    {{ Movie.Id }}<br/>
    {{ Movie.Navn }}<br/>
    {{ Movie.Art }}<br/>
    <br/>

</p>

</body>
</html>